# Copy to .env.local

NEXT_PUBLIC_API_URL=http://localhost:8000

# Public Google Client ID (safe to expose — used by Google Sign-In in the browser)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=690200002280-k5lahp261g9d93rc2s0fp9hr6g7b16c1.apps.googleusercontent.com
